@model ApiApp.Models.Product

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Add New","Create","Product", new{@class="btn btn-default"})
<hr/>

<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(m => m.ProductName)</th>
        <th>@Html.DisplayNameFor(m => m.Price)</th>
        <th>@Html.DisplayNameFor(m => m.Description)</th>
        <th width="180">Actions</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script src="~/Scripts/app/product.js"></script>
    <script>
        $(function() {
            app.Init();
        });
    </script>
}
